In [4]:
import pandas as pd

In [8]:
def function1():
    d = ({"Name":"Pavan", "add":"qwe123"})
    d1 = ({"Name":"Sanjay", "add":"asd456"})
    d2 = ({"Name":"Deeksha", "add":"zxc789"})
    d3 = ({"Name":"Kaushal", "add":"poi741"})
    d4 = ({"Name":"Rucha", "add":"lkj852"})

    srs_1 = pd.Series(d)
    srs_2 = pd.Series(d1)
    srs_3 = pd.Series(d2)
    srs_4 = pd.Series(d3)
    srs_5 = pd.Series(d4)

    table = pd.DataFrame([srs_1,srs_2,srs_3,srs_4,srs_5])
    print(table)

In [9]:
function1()

      Name     add
0   Sanjay  qwe123
1   Sanjay  asd456
2  Deeksha  zxc789
3  Kaushal  poi741
4    Rucha  lkj852